.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.homeContainer {
    display: flex;
    width: 95%;
    padding: 15px;
}